[Desktop Entry]
Name=Launch Showcase
Comment=Creative Coding Showcase
GenericName=creative-coding-showcase
Exec=creative-coding-showcase %U
Icon=creative-coding-showcase
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;

